body {
    background-color: #fff;
    width: 100%;
    margin: 20px auto;
    font: normal 13px/100% sans-serif !important;
    color: #444;
}

.header-title {
    font-size: 20px !important;
    line-height: 2 !important;
    padding-top: 10px !important;
    padding-left: 50px !important;
    color: #fff;

}
.demo-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: baseline;
    margin: auto;
    width:900px;
}
.child-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:0 auto;
    width:100%;
}
.mobile-size {
    display:block;
}
.header {
    background-color: #131313;
    width: 100%;
    height: 70px;
    margin-bottom:50px;
}
.title-style {
    color:#fff;
    padding-left:50px;
    padding-right:50px;
    font-size: 20px !important;
    line-height: 0px !important;
}
.ad-title {
    background-color: #131313;
    width: 100%;
    height: 50px;
    margin-bottom:10px;
}

.footer {
    background-color: #131313;
    width: 100%;
    height: 300px;
    margin-top:50px;
}
div {
    display:none;
    padding: 5px;
    margin-bottom: 5px;
}
.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.totop a {
    display: none;
}
a, a:visited {
    color: #f65f20;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
a:hover {
    text-decoration: none;
}
.demo-pagination {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
#loadMore {
    width:300px;
    /*height:20px;*/
    margin:0 auto;
    padding: 10px;
    text-align: center;
    background-color: #f65f20;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    color: #f65f20;
}
